/* CSS Document */


body {
	background:url(image/1.jpg) no-repeat center center fixed;
	background-size:cover;
	
	}


#title {
	position:absolute;
	bottom:65%;
	left:40%;
	width:50%;
	text-align:center;
	border:none;
	font-family:Helvetica;
	opacity:60%;
	
	}
	
	#title h1 a:link {
	color:#711012;
	opacity:60%;
	font-size:50px;
	text-decoration:none;
	
	}

#title h1 a:visited {
	color:#711012;
	font-size:50px;
	text-decoration:none;
	opacity:60%;
	}

#title h1 a:hover{
	color:grey;
	font-size:50px;
	text-decoration:none;
	opacity:60%;
	}

#title h1 a:active{
	animation-direction:url(image/blood.png)
	}